In [22]:
from pandas import read_csv
from pandas import read_excel
from pandas import datetime
import xlwings as xw
from matplotlib import pyplot

def parser(x):
    x = x.split(" ")[0]
    return datetime.strptime(x, '%Y-%m-%d')

print parser('2014-01-09 00:00:00.000')

#date_str = "2014-01-09 00:00:00.000"
#date_str = date_str.split(" ")[0]
#date = datetime.strptime(date_str, '%Y-%m-%d')
#date.month
##Continue here:
#1. Write datetime parser
#2. Get averages for each month
#3. Run ARIMA

#series = read_csv('shampoo-sales.csv', header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=parser)
#autocorrelation_plot(series)
#pyplot.show()

2014-01-09 00:00:00

In [23]:
series = read_excel(r'C:\Users\agzid\OneDrive - Danmarks Tekniske Universitet\TORM\Data\trends.xlsx', sheet_name='Spot', index_col = 2, parse_dates=[2], date_parser=parser)
#wb = xw.Book(r'C:\Users\Porter\OneDrive - Danmarks Tekniske Universitet\Christian Bertram\MDM.xlsx')
series

             CMSRouteId  RouteAverage, price
ArchiveDate
2014-01-07         TC14              116.790
2014-01-08         TC14              116.430
2014-01-09         TC14              110.000
2014-01-10         TC14              109.290
2014-01-13         TC14              106.790
2014-01-14         TC14               88.210
2014-01-15         TC14               83.210
2014-01-16         TC14               83.930
2014-01-17         TC14               83.930
2014-01-20         TC14               83.390
2014-01-21         TC14               81.820
2014-01-22         TC14               78.330
2014-01-23         TC14               81.430
2014-01-24         TC14               80.000
2014-01-27         TC14               80.000
2014-01-28         TC14               77.860
2014-01-29         TC14               75.710
2014-01-30         TC14               75.360
2014-01-31         TC14               76.070
2014-02-04         TC14               75.360
2014-02-05         TC14               75.500
2014-02-06         TC14               80.000
2014-02-07         TC14               81.430
2014-02-10         TC14               80.360
2014-02-12         TC14               81.070
2014-02-13         TC14               83.330
2014-02-14         TC14               88.930
2014-02-17         TC14               90.500
2014-02-18         TC14               92.500
2014-02-19         TC14              101.070
...                 ...                  ...
2019-05-24       TC2-W4               17.813
2019-05-24      TC2$+2Q               20.617
2019-05-24       TC2-W1                  NaN
2019-05-24     TC2$CURQ               16.859
2019-05-24     TC2$+4_M               16.777
2019-05-24    TC2CURMON              113.354
2019-05-24       TC2-W2               15.552
2019-05-24       TC2-W6               17.423
2019-05-24    TC2$+1CAL               19.750
2019-05-24       TC2-W5               17.780
2019-05-24      TC2+1_M              130.317
2019-05-24       TC2+2Q              148.324
2019-05-24      TC2+5_M              133.871
2019-05-24     TC2BALMO              112.266
2019-05-24       TC2+3Q                  NaN
2019-05-24    TC2$BALMO               15.605
2019-05-24      TC2+4_M              120.698
2019-05-24      TC2$+4Q               19.446
2019-05-24     TC2$+1_M               18.114
2019-05-24     TC2$+2_M               17.217
2019-05-24      TC2+2_M              123.863
2019-05-24    TC2$+2CAL               18.780
2019-05-24     TC2$+3_M               15.836
2019-05-24   TC2$CURMON               15.756
2019-05-24       TC2+1Q              119.496
2019-05-24      TC2$+3Q               22.132
2019-05-24      TC2$+1Q               16.610
2019-05-24      TC2CURQ              121.288
2019-05-24      TC2$+5Q               18.954
2019-05-24       TC2-W3               17.317

[5972 rows x 2 columns]